spring:
  application:
    name: museum
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/museum}
    username: ${DB_USERNAME:museum}
    password: ${DB_PASSWORD:museum}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

server:
  port: ${PORT:8080}

logging:
  level:
    org.hibernate.SQL: warn
    org.springframework.security: info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

