spring:
  application:
    name: museum
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/museum}
    username: ${DB_USERNAME:museum}
    password: ${DB_PASSWORD:museum}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:25}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:false}

server:
  port: ${PORT:8080}

logging:
  level:
    org.hibernate.SQL: warn
    org.springframework.security: info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

app:
  notifications:
    from: ${NOTIFY_FROM_EMAIL:no-reply@museum.local}
